## List, Tuples and Sets

In [2]:
# Lists and tuples allow us to work with sequential data
# Sets are unordered collection of values without duplicates

In [2]:
# creating a list using commas

courses = ['History', 'Math', 'Physics', 'Computer_Science']
print(courses)

['History', 'Math', 'Physics', 'Computer_Science']

In [3]:
# this is showing us there are four values in the list

print(len(courses))

4

In [4]:
# we can access each of these values seperatly

print(courses[0])
print(courses[1])
print(courses[2])
print(courses[-1])

History
Math
Physics
Computer_Science

In [5]:
# slicing

print(courses[0:3:2])

['History', 'Physics']

In [6]:
# appending items to a list

courses.append('Art')
print(courses)

['History', 'Math', 'Physics', 'Computer_Science', 'Art']

In [19]:
# inserting an item to a list

courses.insert(2, 'Geography')
print(courses)

['History', 'Math', 'Geography', 'Geography', 'Physics', 'Computer_Science', 'Art']

In [21]:
# extending is used for adding multiple items to a list

courses_2 = ['Education', 'Sport']

courses.insert(0, courses_2,)
print(courses)

# this gives us a list in a list

[['Education', 'Sport'], 'History', 'Math', 'Geography', 'Geography', 'Physics', 'Computer_Science', 'Art']

In [23]:
# therefore we use the extend option

courses = ['History', 'Math', 'Physics', 'Computer_Science']
courses_2 = ['Education', 'Sport']

courses.extend(courses_2)
print(courses)

['History', 'Math', 'Physics', 'Computer_Science', 'Education', 'Sport']

In [24]:
# removing items from a list

courses.remove('Math')
print(courses)

['History', 'Physics', 'Computer_Science', 'Education', 'Sport']

In [25]:
# this will pop an itme from the list with the default being the last item

courses.pop()
print(courses)

# you can now see that Sport has been removed from the list

['History', 'Physics', 'Computer_Science', 'Education']

In [27]:
# pop can be used in a function to remove the last item 

popped = courses.pop()
print(popped)

Education

In [28]:
# how to reverse the items of a string

courses.reverse()
print(courses)

['Computer_Science', 'Physics', 'History']

In [29]:
# sorting a list with the sort function

# default sorts in alphabetical order

courses.sort()
print(courses)

['Computer_Science', 'History', 'Physics']

In [32]:
# to sort in reverse alphabetical we use the reverse = True argument

courses.sort(reverse=True)
print(courses)

['Physics', 'History', 'Computer_Science']

In [35]:
# This can also be used with numerical lists

nums = [1, 4, 8, 2, 7, 0]
nums.sort()
print(nums)

nums.sort(reverse=True)
print(nums)

[0, 1, 2, 4, 7, 8]
[8, 7, 4, 2, 1, 0]

In [36]:
# we dont need to reset our variable when we call most of these methods
# there have set the variable in place

# however there is a way to get a sorted list without changing the list in place

# now we can use the sorted 'function'

sorted(courses)

['Computer_Science', 'History', 'Physics']

In [38]:
sorted_courses = sorted(courses)
print(sorted_courses)

# this is useful when we dont want to alter the original list however need a 
# sorted list

['Computer_Science', 'History', 'Physics']

In [41]:
# other similar funstions are:
# sum()
# min()
# max()

print(len(nums))
print(min(nums))
print(max(nums))
print(sum(nums))

6
0
8
22

In [44]:
# we can use the index method to find the index item of a list

print(courses.index('Computer_Science'))
print(courses.index('History'))
print(courses.index('Physics'))

2
1
0

In [46]:
# we can also use an in operator to check if an item is in the list

print('Math' in courses)

False

In [7]:
courses

['History', 'Math', 'Physics', 'Computer_Science', 'Art']

In [11]:
# this is the start of creating for loops



# this is a loop for looking for the courses in the course list
for course in courses:
    print(course)

History
Math
Physics
Computer_Science
Art

In [12]:
# another handy function is enumerate
# this function will return the value and the index

for item in enumerate(courses, start=1):
    print(item)

(1, 'History')
(2, 'Math')
(3, 'Physics')
(4, 'Computer_Science')
(5, 'Art')

In [53]:
for index, item in enumerate(courses):
    print(index, item)

0 Physics
1 History
2 Computer_Science

In [54]:
# applying the start argument

for index, item in enumerate(courses, start=1):
    print(index, item)

1 Physics
2 History
3 Computer_Science

In [14]:
# turning a list into a string seperated by a certain value
# we can use a string method called join and pass in the list as our arguement

courses_str = ' - '.join(courses)
print(courses_str)

History - Math - Physics - Computer_Science - Art

In [59]:
# we can now retun this to a list by using the split method

new_list = courses_str.split(' - ')
print(new_list)

['Physics', 'History', 'Computer_Science']

In [61]:
# moving on to tuples , simliar to lists but one major difference
# you can't can tuples, they are immutable whereas list are mutable

# lets look at a list again

list_1 = ['Computer_Science', 'History', 'Physics']
list_2 = list_1

print(list_1)
print(list_2)

['Computer_Science', 'History', 'Physics']
['Computer_Science', 'History', 'Physics']

In [63]:
# If we make changes to list one as list 2 is set as list one both will change

list_1[0] = 'Art'

print(list_1)
print(list_2)

['Art', 'History', 'Physics']
['Art', 'History', 'Physics']

In [65]:
# tuple example

tuple_1 = ('Computer_Science', 'History', 'Physics')
tuple_2 = tuple_1

print(tuple_1)
print(tuple_2)

('Computer_Science', 'History', 'Physics')
('Computer_Science', 'History', 'Physics')

In [66]:
tuple_1[0] = 'Art'

print(tuple_1)
print(tuple_2)

# as a tuple is not immutable the list functions will not work

TypeError: 'tuple' object does not support item assignment

In [79]:
# Lets look at sets
# they are values which are unorded and have no duplicates
# they can appear in any order 

cs_courses = {'Computer_Science', 'History', 'Physics', 'Arts', 'Math', 'Geography'}

print(cs_courses)

{'Computer_Science', 'Geography', 'Physics', 'Arts', 'History', 'Math'}

In [80]:
# uses for sets are to test wether a value is part of a set
# or to remove duplicate values (sets throw away duplicates)

cs_courses = {'Computer_Science', 'History', 'Physics', 'Arts', 'Math', 'Geography', 'Math'}

print(cs_courses)

{'Computer_Science', 'Geography', 'Physics', 'Arts', 'History', 'Math'}

In [81]:
# use to test if a value is part of a test
# this is a membership test
# sets do this mo efficently than lists and tuples
# sets are designed to for this can can return this quickly

print('Math' in cs_courses)

True

In [82]:
# sets can also do this between sets

courses_one = {'Computer_Science', 'Science', 'Physics', 'Arts', 'Math', 'Geography', 'Math'}
courses_two = {'Computer_Science', 'Music', 'Math', 'Arts', 'History', 'Geography', 'Math', 'Nursing'}

In [83]:
print(courses_one.intersection(courses_two))

{'Computer_Science', 'Geography', 'Math', 'Arts'}

In [84]:
print(courses_one.difference(courses_two))

{'Physics', 'Science'}

In [90]:
print(courses_one.union(courses_2))

{'Physics', 'Science', 'Sport', 'Arts', 'Education', 'Computer_Science', 'Geography', 'Math'}

In [89]:
courses.difference(courses_2)

AttributeError: 'list' object has no attribute 'difference'

In [ ]:
# creating empty lists, tuples and sets

empty_list = []
empty_list = list() # we can use this list class

empty_tuple = ()
empty_tuple = tuple() # we can use the tuple class

empty_set = {} #this however creates a dictionary (unorded, key value, pairs)
empty_set = set()